<div class="main-content">
    <section id="intro">
        <btnblockparallaxvideo header-data="{{ ctrl.sub.title }}" color-data="black" parallax-data="{{ ctrl.sub.hash }}" image-data="{{ ctrl.sub.image }}" state-data="app.content.gettinghere.sub.video" video-data="{{ ctrl.hash }}_{{ ctrl.sub.hash }}" content-data="ctrl.sub.body"></btnblockparallaxvideo>
        <direction-map ng-if="ctrl.sub.location" location-Data="{{ctrl.sub.location}}" linkData="two" location-title="ctrl.sub.info.location"></direction-map>
        <block-info ng-if="ctrl.sub.info" content-data="{{ ctrl.sub.info }} "></block-info>
    </section>
</div>
